body{
    background: linear-gradient(to bottom, #f7f7f7, white) ;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth; /* Desplazamiento suave */
}

/* ACA EMPIEZA EL MENU DE ARRIBA */

header{
    position: fixed;
    top: 0px;
    background: white;
    width: 100%;
    height: 90px;


}

.conteiner a{
    text-decoration: none;
    color: black;
    font-weight: 800;
    font-size: 15px;
}


.conteiner button{
    color: black;
    background-color: white;
    font-weight: 800;
    font-size: 15px;
    border: none;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-style: normal;
    cursor: pointer;
}

.lista{
    display: none;
}

.conteiner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin:0px 0px 0px 10px;

}



.item1 img{
    margin: 15px 0px 0px -40px;
    position: absolute;
    height: 60px;
    left: 60px;
}

.item1 h2{
    
    letter-spacing: 1.5px;
    position: absolute;
    margin: 32px 0px 0px 80px;
    font-size: 20px;
    font-weight: 1000;
    transform: scale(0.9,1);
}

.vl {
    border-left: 1px solid rgba(128, 128, 128, 0.219);
    height: 100px;
    position: absolute;
    margin: -10px 0px 0px 216px;
  }

.item2{
    margin: 33px 0px 0px 250px;
    position: absolute;
}

.item3{
    margin: 33px 0px 0px 320px;
    position: absolute;
}

.item4{
    margin: 33px 0px 0px 410px;
    position: absolute;
}

.item5{
    margin: 33px 0px 0px 515px;
    position: absolute;
}

.item6 img{
    height: 28px;
    left: 28px;
    position: absolute;
    border: 1px solid rgba(128, 128, 128, 0.514);
    border-radius: 50px;
    border-collapse: separate;
    border-spacing: 10px 5px;
}

.img1{
    margin: 27px 0px 0px 870px;
}

.imgg{
    margin: 27px 0px 0px 918px;
}

.img3{
    margin: 27px 0px 0px 966px;
}

.vl1 {
    border-left: 1px solid rgba(128, 128, 128, 0.219);
    height: 100px;
    position: absolute;
    margin: -10px 0px 0px 1100px;
  }

  .item7{
    position: absolute;
    margin: 27px 0px 0px 1123px;

  }

  .item7 img{
    height: 25px;
    left: 25px;
  }

  .item8{
    position: absolute;
    margin: 31px 0px 0px 1180px;
  }

  .item8 a{
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 5px;
    transition: box-shadow 1seg ease-in-out;

  }

  .item8 a:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }

  .subrayar::after{
    left: 0;
    height: 2px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease;
  }

.subrayar:hover::after {
    transform: scaleX(1);
    transform-origin: left;
    text-decoration-color: #dba32e;
}

/* ACA EMPIEZA HERO */

.hero h1{
    margin: 300px 0px 0px 150px;
    font-size: 50px;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    letter-spacing: -3px;
    word-spacing: -2px;
}

.color{
    margin: 100px 0px 0px 0px;
    color: #ffc13e;
}

.fuente{
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 600;
    height: 20px;
    letter-spacing: -1px;
}

.fuente0{
    font-family: Arial, Helvetica, sans-serif;
    color: #979898;
    font-weight: 500;
    word-spacing: -1px;
    text-decoration: none;
    margin: -5px 0px 0px 0px;
}

.quienSoy{
    margin: 26px 500px 0px 150px;
    word-spacing: -1px;
    line-height: 1.5;
    height: 5px;
}

.ordenarDivs{
    display: flex;
    margin: 45px 0px 0px 150px;

}

.div2{
    margin: 0px 0px 0px 20px;
}

.enlace{
    text-decoration: none;
    color: #979898;
}

.hero button{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: white;
    font-size: 16px;
    padding: 5px 20px;
    border-radius: 5px;

}

.yo{
    position: absolute;
    height: 900px;
    left: 900px;
    margin: -300px 0px 0px -320px;
    z-index: -1;

}

.botonDescargarCV{
    background: linear-gradient(to bottom, #dba32e, 50%, #ffc13e);
    border-color: #dba32e;
    margin: 60px 0px 0px 150px;
}

.botonContratame{
    background: linear-gradient(to bottom, black, 50%, #1f1f1f);
    border-color: black;
    margin: 60px 0px 0px 10px;
}

.hero h2{
    position: absolute;
    font-family: "Gloria Hallelujah", cursive;
    font-weight: 600;
    font-style: normal;
    color: #f2f1f1;
    font-size: 100px;
    z-index: -1;
    margin: -110px 0px 0px 0px;
}

.detalle{
    position: absolute;
    z-index: -1;
    margin: 0px 0px 0px -100px;
}

/* ACA EMPIEZA EL ABBOUT ME */


.aboutMe{
    margin: 300px 0px 0px 0px;
}

.aboutMe h2{
    font-size: 30px;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    letter-spacing: -2px;
    margin: 0px 0px 0px 740px;
    line-height: 1.5;
}

.lorem{
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px 180px 0px 740px;
    color: #a2a0a1;
    font-weight: 400;
}

.Sigueme{
    font-size: 19px;
    font-weight: 600;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    letter-spacing: -1px;
    margin: 30px 0px 30px 740px;
    line-height: 1.5;
}

.BEHANCE{
    color: #0b5efb;
    margin: 0px 0px 0px 740px;
    transition: color 0.3s ease;
}

.BEHANCE:hover{
    color: aqua;
}


.pBE{
    position: absolute;
    margin: -30px 0px 0px 790px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: 600;
}

.gith{
    color: #1f1f1f;
    transition: color 0.3s ease;
}

.gith:hover{
    color: #a2a0a1;
}

.pGH{
    position: absolute;
    margin: -30px 0px 0px 920px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: 600;
}

.pInsta{
    position: absolute;
    margin: -30px 0px 0px 1050px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: 600;
    color: #ffb313;
    transition: color 0.3s ease;
}

.pInsta:hover{
    color: yellow;
}


.v3{
    border-left: 2px solid rgba(128, 128, 128, 0.219);
    height: 60px;
    position: absolute;
    margin: -300px 0px 0px 703px;

}

.about{
    position: absolute;
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
    transform: rotate(270deg);
    margin: -350px 0px 0px 670px;  
    color: #a2a0a1;
}

.detalle1 {
    position: absolute;
    margin: -780px 0px 0px -650px;
    z-index: -1;
}

.detalle2{
    position: absolute;
    transform: rotate(180deg);
    margin: -440px 0px 0px 630px;
    height: 400px;
    left: 400px;
    z-index: -1;
}

/* ACA COMIENZA MY SKILLZ */

.mySkills{
    display: flex;
    align-items: center;

}

.items{
    flex: 1;
}

.contenedorDos{
    display: flex;
    flex-wrap: wrap;
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 19px;
    align-items: center;
    margin: 170px 0px 0px 0px;
}

.it{
    border: 1px solid white;
    margin: 10px 0px 0px 20px;
    align-items: center;
    text-align: center;
    border-radius: 20px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px 1px #b9b8b94f;
    transition: color 0.3s ease;
}

.it img{
    width: 70px;
    left: 70px;
}
.primero, .segundo, .tercero, .cuarto {
    margin: 0; /* Remueve los márgenes negativos */
}

.primero{
    margin: -40px 0px 0px 0px;
    padding: 30px 60px;
}

.segundo{
    padding: 30px 60px;
    margin: 0px 0px 0px 20px;
}

.tercero{
    margin: -10px 0px 0px 0px;
    padding: 30px 60px;
    line-height: 20px;
    
}

.cuarto{
    padding: 30px 60px;
    margin: 20px 0px 0px 30px;
    line-height: 20px;
}

.it:hover{
    background-color: #a2a0a194;
}

.contenedorUno{
    margin: 210px 0px 0px 180px;
}

.contenedorUno h2{
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 35px;
    letter-spacing: -3px;
}

.it1{
    color: #828282;
    font-family: "Chocolate Classical Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    margin: 0px 200px 0px 0px;
    line-height: 1.5;
}

.it2{
    font-family: "Chocolate Classical Sans", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: back;
    font-size: 12px;
    margin: 20px 0px 0px 0px;
}

.progress {
    width: 80%;
    height: 2px;
    background-color: #f0f0f0;
    margin: 20px 0px 0px 0px;
  }
   
.progress p{
    color: #1f1f1f;
    position: absolute;
    margin: -33px 0px 0px 440px;
    font-size: 11px;
    font-weight: 600;
}

  .tmñ1{
    width: calc(50% - 1px);
    height: 8px;
    background-color: #ffad00;
  }

  .tmñ2{
    width: calc(80% - 1px);
    height: 8px;
    background-color: #ffad00;
  }
  .tmñ3{
    width: calc(60% - 1px);
    height: 8px;
    background-color: #ffad00;
  }

  .manchaGramde{
    position: absolute;
    margin: 600px 0px 0px 450px;
    z-index: -1;
    height: 1260px;
    left: 300px;
  }

  .barra{
    border-left: 1px solid rgba(128, 128, 128, 0.219);
    height: 60px;
    position: absolute;
    margin: 130px 0px 0px -20px;
  }

  .skil{
    position: absolute;
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
    transform: rotate(270deg);
    margin: 70px 0px 0px -55px;  
    color: #a2a0a1;
    font-weight: 400;
    letter-spacing: 1px;
  }

  .deta3{
    position: absolute;
    margin: -130px 0px 0px -190px;
  }

.mujer{
    position: absolute;
    margin: -200px 0px 0px 0px;
    z-index: -1;
}

  /* ACA EMPIEZA MI PORTAFOLIO */


.myWork h2{
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    letter-spacing: -1px;
    font-size: 40px;
    margin: 0px 0px 0px 180px;
}

.descProyectos{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    color: #828282;
    margin: 20px 400px 0px 180px;
    line-height: 1.5;
}

  .tabs {
    display: flex;
    flex-wrap: wrap;

}

input[type="radio"] {
    display: none;
}

.tabButton {
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 500;
    letter-spacing: -1px;
    display: inline-block;
    padding: 10px 20px;
    margin: 40px 0px 0px 180px;
    cursor: pointer;
    color: black;
    border-radius: 5px;
    text-align: center;
    position: relative;
}

.tabButton .badge {
    color: #ffb10c;
    padding: 2px 6px;
    font-size: 12px;
    position: absolute;
    top: -5px;
    right: -10px;
}

.tabButton:hover {
    background-color: #b1b7bd62;
}

.tabContent {

    display: none;
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    width: 100%;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3 {
    display: block;
}

#tab1:checked + label,
#tab2:checked + label,
#tab3:checked + label {
    color: #ffb10c;
}

/* ACA EMPIEZA LA PARTE DE CONTACTO */

.contactame{
    justify-items: center;
}

.contactame h2{
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 55px;
    letter-spacing: 1px;
    position: absolute;
    color: white;
    margin: 120px 0px 0px 510px;
}

.contactame img{
    border-radius: 20px;
    z-index: -1;
    margin: 40px 0px 100px 140px;
}

.otroPortafolio{
    display: flex;
    position: absolute;
    margin: 270px 0px 0px 370px;
    color: white;
}

.otroPortafolio img{
    height: 35px;
    left: 35px;
    margin: 0px 0px 0px 0px;
}

.otroItem{
    margin: 0px 60px 0px 30px;
    align-items: center;
    align-content: center;
    text-align: center;
    line-height: 13px;
}

.titular{
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 500;
}

.noTit{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #a2a0a1;
}

section{
    margin-top: 60px;
}